/* BEGIN SETUP (you will not need to use these) */
#intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: medium;
  font-weight: 200;
}
/* END SETUP */

/* Classes that you might find useful */
/* You may also have to implement your own classes */

.flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.twovert {
  height: 50%;
}

.threevert {
  height: 33.3%;
}

.red.threevert {
  background-color: red;
}

.red.twovert {
  background-color: red;
}

.red.threevert#white {
  background-color: white;
}

.light-blue.threevert  {
  background-color: lightblue;
}

.threehoriz {
  width: 33.3%;
}

.narrow {
  height: 17.5%;
}

.white.twovert {
  background-color: white;
}

.wide {
  height: 30%;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  left: 85px;
  top: 50px;
}

/* Colors */

/* QUESTION 1 */

.orange {
  background-color: orange;
}

.light-blue {
  background-color: #00A4E3;

}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.purple {
  background-color: purple;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

/* BEGIN QUESTION 2 */

.thailand-red {
  height: 16.66%;
  width: 500px;
  background-color: #B5002D;
}

.thailand-white {
  height: 16.66%;
  width: 500px;
  background-color: white
}

.thailand-blue {
  height: 33.33%;
  width: 500px;
  background-color: #2E2A4c
}

/* END QUESTION 2 */

/* BEGIN QUESTION 3 */

.romania-blue {
  background-color: #002c84; 
  width: 33.33%;
}

.romania-yellow {
  background-color: #ffcf00;
  width: 33.33%;
}

.romania-red {
  background-color: #e10017;
  width: 33.33%;
}

/* END QUESTION 3 */

/* QUESTION 4 */
.mexico-green {
  background-color: #006341;
}

.mexico-img {
  background-color: white;
  max-height: 200px;
  max-width: 33.3%;
  align-self: center;
}

.mexico-red {
  background-color: #ce1126;
}

.label {
  color: rgb(91, 169, 195);
}

h2:hover {
  color: orange;
  transform: scale(1.5)

}

/* QUESTION 6 */
.margin-container {
  height: 300px;
  width: 1030px;
  border-style: solid;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

/* For margin practice */
.flag1 {
  background-color: red;
  /* TODO */
  margin-right: 5 px;
}

.flag2 {
  background-color: blue;
  margin-left: 5 px;
}
/* For padding practice */
.padding-container {
  box-sizing: border-box;
  background-color: lightblue;
  background-clip: content-box, padding-box;
  padding: 60 px 60px;
  /* TODO */
}
